# Force LF for shell scripts
*.sh text eol=lf
gradlew text eol=lf

# Force CRLF for Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.jar binary
*.png binary
*.jpg binary
*.ico binary
